#mordor, #spiderfarm, #hell, #darkplace {
  display: none;
}

h1, h2, h3{
  text-align: center;
}

p {
  font-size: 8px;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button {
  align-content: center;
}
